<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/base_layout}"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}">
</head>
<body>
<header layout:fragment="header">
    <h1>카카오톡 채팅방</h1>
    <hr>
</header>

<!-- 네비게이션 바 추가 -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/api/auth/login}">로그인</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/api/auth/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/api/auth/signup}">회원가입</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main layout:fragment="contents">
    <div class="chat-container">
        <div class="chat-box">
            <!-- 채팅 메시지 -->
            <div class="chat-message">
                <img src="/images/user1.png" alt="User" class="avatar">
                <div class="message-content">
                    <p class="message-text">안녕하세요! 어떻게 도와드릴까요?</p>
                    <span class="message-time">오후 3:12</span>
                </div>
            </div>

            <div class="chat-message my-message">
                <div class="message-content">
                    <p class="message-text">안녕하세요! 질문이 있어요.</p>
                    <span class="message-time">오후 3:13</span>
                </div>
                <img src="/images/user2.png" alt="Me" class="avatar">
            </div>
        </div>

        <!-- 메시지 입력 -->
        <div class="chat-input">
            <input type="text" placeholder="메시지를 입력하세요..." id="chatInput">
            <button onclick="sendMessage()">전송</button>
        </div>
    </div>
</main>

<script th:src="@{/js/chat.js}"></script>
</body>
</html>
